{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <p class="date">
        Опубликован: {{ post.publish }}, автор: {{ post.author }}
    </p>
    
    <!-- поддержки синтаксиса Markdown -->
    {{ post.body|markdown }}  

    <!-- Отображение схожих постов по тегам -->
    <h2>Схожие посты</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        Нет схожих постов.
    {% endfor %}

    <!-- Общее число ком-ев к посту -->
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
            <hr>
        </h2>
    {% endwith %}

    <!-- список активных комментариев к посту -->
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }}, 
                автор: {{ comment.Имя }},
                создан: {{ comment.created }}
            </p>
            {{ comment.Комментарий|linebreaks }}
        </div>
        {% empty %}
            <p>Пока комментариев нет.</p>
    {% endfor %}

    <!-- добавляю форму комментария -->
    {% include "blog/post/includes/comment_form.html" %}

{% endblock %}