{% extends "blog/base.html" %}

{% block title %}
    Киноблог Старинского
{% endblock %}

{% block content %}
    <h1>📽 Киноблог Старинского</h1>
    {% for post in posts %}
        <h2>    
            <!-- Использование канонических URL -->
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>            
        </h2>

        <p class="date">
            Опубликован: {{ post.publish }}, автор: {{ post.author }}
        </p>

        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
        
    <!-- Представление на основе класса -->
    {% include "pagination.html" with page=page_obj %}
{% endblock %}

    

<!-- 
    два шаблонных фильтра: 
    truncatewords усекает значение до указанного числа слов, а 
    linebreaks конвертирует результат в разрывы строк в формате HTML. 
-->
