{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="{% static "css/blog.css" %}"  rel="stylesheet">

</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="sidebar">
        <p>
            <h2>📽 Киноблог Старинского</h2>            
        </p>

        <!-- подпискa на Новостная лента -->
        <p>
            <a href="{% url "blog:post_feed" %}">
                Подпишитесь на мою новостную RSS-ленту
            </a>            
        </p>

        <h3>Последние 3 поста:</h3>
        {% show_latest_posts 3 %}

        <h3>Самые комментируемые посты (3 шт)</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <h3>Меню.</h3>        
    </div>
    
</body>
</html>